<img class ="logo" src="/images/exodia-logo.jpeg" alt="">
<input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
<label for="menu-icon"></label>
<script type="module" src="/js/app.js"></script>
<nav class="nav">
    <ul class="pt-5">
        <li><a class="nav-link active" aria-current="page" href="#">HOME</a></li>
        <li><a class="nav-link" href="/events">EVENTS</a></li>

        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

</nav>