<nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name="" id="nav-btn">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a href="/">Home</a></li>
            <li><a href="/#about-us">About</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/#contact-us">Contact</a></li>
            <li><a href="/ourTeam">Team</a></li>
            <% if(authenticated) {%>
                <li><a href="/auth/logout">Logout</a></li>
                <%}else {%>
                    <li><a href="/auth/google">Login</a></li>
                    <%}%>
        </ul>
        <h1 class="logo">Exodia</h1>
    </div>
</nav>