<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        #preload {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 999999;
            margin-bottom: 20px;
        }

        #preload h1 {
            font-weight: bolder;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 40px;
            position: fixed;
            margin-bottom: 150px;
            text-shadow: 1px 1px 15px red;
            font-family: "Windlass";
            overflow: visible;
        }

        #preload-img {
            height: 300px;
            width: 300px;
        }
    </style>
</head>

<body>
    <div id="preload">
        <h1>Exodia-23</h1>
        <br />
        <br>
        <br><br>
        <img id="preload-img" src="/images/giphy.gif" alt="">
    </div>
    <script>
        function load() {
            $("#preload").css("display", "none").delay(3000).fadeOut("slow");
        }
    </script>
</body>

</html>