body{
    background: #0b1e24 linear-gradient(to right, rgb(1, 13, 11) 0%, rgb(11, 30, 36) 25%, rgb(11, 30, 36) 75%, rgb(1, 13, 11) 100%) repeat-y;
    width: 100%;
}
.images{
    /* width: 300px;
    height: 300px; */
    clip-path: url("article-panel");
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.head-details1 h3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.head-details1 p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.space{
    height: 200px;
}
.space1{
    height: 50px;
}
#im1{
    padding: 18px;
}
#im2{
    padding: 18px;
}
#im3{
    padding: 18px;
}
#im4{
    padding: 18px;
}
@media(max-width:1450px){
    .images{
        flex-direction: column;
        padding-left: 25%;
        width: 50%;
        align-items: center;
        justify-content: center;
    }
}


.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    
    color: white;
    background-color: #354043;
    opacity: 0.5;
    line-height: 29px;
    width: 100%;
    text-align: center;
}
.footer a{
    color: white;
    text-decoration: none;
}