:root {
  --surface-color: #fff;
  --curve: 40;
}

@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Rye&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}

#homesection {
  height: 100vh;
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  color: white;

}

#exodia-title h1 {
  color: rgb(254, 38, 38) !important;
  font-size: 100px;
  font-family: 'Henny Penny', cursive;
}

#video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
}

#video-bg video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}

#content {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-self: flex-start; */
  /* margin: 0 auto; */

  text-align: center;
  min-height: 70%;

  align-items: center;
  justify-content: center;
  color: white;




}


#Aboutsection {
  background-color: antiquewhite;
  padding: 5rem;
  background: url(/images/map2.jpg) no-repeat center center/cover, black;
  font-family: 'Rye', cursive;
  background-blend-mode: lighten;
  color: black;
  /* height: 100vh; */

}

#about-heading {
  margin-bottom: 2.5rem;
  border-left: 10px solid red;
  padding-left: 2rem;
}

#Aboutsection p {
  text-align: justify;
  color: black !important;
}

#Aboutsection-content {
  display: flex;
  flex-direction: row;

}

#para {
  /* background-color: #55ACEE; */
  padding-right: 2rem;
}


#video-link {
  /* margin-left: 4rem; */
  transition: transform 0.5s ease-in-out;
  border-radius: 5px;
  width: 500px;
  height: 315px;
}

#video-link:hover {
  transform: scale(1.08);
  border: 2px solid white;
}

#home-footer {
  /* background-image: url(/images/img6.jpg); */
  padding: 10px 10px;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  /* color: black; */
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

#home-footer p {
  margin: 0;
  padding: 0;

}

#counterclock {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: grey; */
  width: 100%;
  height: 5rem;

}


#countdown {
  font-size: 36px;
  font-weight: bold;
  text-align: center;

}






/* styling the icons of the footer  */
/* Style all font awesome icons */
.fa {
  /* padding: 20px; */
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  padding: 15px 15px;
  margin: 5px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background-color: white;
  color: black;
}



h2 {
  margin-bottom: 10px;
}

p {
  margin: 0;
  /* color: #999; */
}

#footer-content {
  background-color: black;
  padding: 20px;
  min-height: 380px;
  /* background-image: url("/images/img6.jpg"); */
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */

  /* filter: drop-shadow(132px 101px 118px black); */

}


#footer-links {
  display: flex;
  justify-content: space-between;
  /* padding: 1rem; */
}

.footer-title-counter {
  display: inline-block;
  justify-content: space-around;
  padding: 1rem;
  /* background-color: black; */
}



/* website footprint  */
#counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-top: 20px;
}

#count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-top: 5px;
  font-size: 50px;
  color: black;
}

/* Regiostration counts */
#Registrations {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-top: 5px;
  font-size: 50px;
  color: black;
}


/* css for contact-us card */


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  /* gap: 2rem; */
  /* margin: 4rem 5vw; */
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  /* background-color: orange; */
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: 0;
  position: relative;
  flex-wrap: wrap;
  /* padding: 2px; */

}





.card {
  max-width: 300px;
  max-height: 300px;
  position: relative;
  display: block;
  margin: 5px 7px;
  /* height: 100%;   */
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;

}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
}

.card__description {
  color: white !important;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  /* d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z"); */
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: white;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #D7BDCA;
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}



#countdown {
  font-size: 30px;
}


/* counts for visitors and registrations */
.counts {
  width: 100%;
  height: 300px;
  background: url(/images/map2.jpg) no-repeat center center/cover, black;
}

.counters {
  color: red;
  display: flex;
  justify-content: space-around;
  /* padding-top: 400px; */
}

.counter-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  background: url("/images/count4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* FAQ'S */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&family=Spartan:wght@400;700&display=swap");

.faqs {
  background: url("/images/count2.png") center center/cover no-repeat;
  /* height: 100Vh; */
}

.faq-container {
  margin: auto;
  padding: 45px;
  width: 75%;
  /* background-color: rgb(245, 147, 18); */
}

h1 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
}

li {
  list-style: none;
  margin-bottom: 10px;
  padding: 15px;
  border-bottom: 2px solid red;
}

.question {
  font-family: "Spartan", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
  /* color: white; */
}

.icon-main {
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.non-active {
  display: none;
}

.answer {
  font-size: 17px;
  font-family: "Spartan", sans-serif;
  /* color: white; */
}

/* card css ends */

@media only screen and (max-width:480px) {
  #exodia-title h1 {
    font-size: 75px;
  }

  #footer-title {
    /* flex: 1; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* margin-top: 2rem; */

  }

  #footer-content {

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }

  .cards {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

  }

  .card {
    width: 193px;
    height: 187px;


  }

  .card__header {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 10px;
    height: 109px;
    gap: 0 !important;
    /* height: auto; */

  }

  #countdown {
    font-size: 23px;
  }


  /* About section  */
  #Aboutsection-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #video-link {
    width: 300px;
    height: 200px;
  }

  #Aboutsection {
    padding: 1.5rem;
    height: auto;
  }

  #para {
    padding-right: 0;
    margin-bottom: 1.5rem;
  }
  .counts{
    height: 700px;
  }
  .counters {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    align-items: center;
  }

  .counter-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 230px;
    /* background: url("/images/count4.png"); */
    background-repeat: no-repeat;
    background-size: cover;
  }
}



@media only screen and (min-width:2000px) {
  .cards {

    display: flex;
    flex-wrap: wrap;
  }

  #countdown {
    font-size: 33px;
  }
}

@media only screen and (min-width:481px) and (max-width:720px) {

  /* About section  */
  #Aboutsection-content {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

  }

  #video-link {
    width: 320px;
    height: 250px;
    margin-top: 1.5rem;

  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;

  }
}