.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

@font-face {
  font-family: "Windlass";
  src: url("/fonts/Windlass.ttf");
}


body::after {
  background: url("https://athwsue2-prd-webscript-cdn-endpoint.azureedge.net/bfc9dd254a08162f671b75adc95a571b/assets/global-header/background-sub-layer.svg") repeat-x 50% 100%/1200px 144px;
  width: 100%;
  height: 65px;
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.sze {
  display: none;
}

.navbar {
  position: absolute;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: linear-gradient(red 10%, 30%, blue 90%); */
  color: #ffffff;
  z-index: 1;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  overflow-y: hidden;
}

.menu-items {
  order: 2;
  display: flex;
  transition: 0.5s ease-in-out;
}

.logo {
  /* order: 1; */
  height: 150%;
  /* overflow: visible; */
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
  overflow-y: visible !important;
  overflow-x: visible !important;
}

.navbar a {
  color: #ffffff;
  font-family: "Windlass";
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.navbar a:hover {
  color: #bdaeae;
}


/* experiment */
.navbar-container input[type="checkbox"],
.navbar-container .hamburger-lines {
  display: block;
}

.navbar-container input[type="checkbox"] {
  position: absolute;
  display: block;
  height: 32px;
  width: 30px;
  top: 20px;
  right: 20px;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
}

.navbar-container .hamburger-lines {
  display: block;
  height: 28px;
  width: 35px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #7c7a7a;
}

.navbar-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.3s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.3s ease-in-out;
}

.navbar-container input[type="checkbox"]:checked~.menu-items {
  transform: translateX(0);
  padding-top: 100px;
  background: #d3c8ac;
  height: 100vh;
  width: 300px;
  /* transform: translate(-150%); */
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 40px;
  box-shadow: 5px 0px 10px 0px #d3c8ac;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll !important;
  overflow-x: visible;
}

.navbar-container input[type="checkbox"]:checked~.menu-items::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgb(255, 0, 0); */
  border-radius: 10px;
  /* background-color: transparent; */
}

.navbar-container input[type="checkbox"]:checked~.menu-items::-webkit-scrollbar {
  width: 5px;
  display: block;
  height: 6px !important;
  /* background-color: transparent; */
}

.navbar-container input[type="checkbox"]:checked~.menu-items::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
  background-color: rgba(0, 0, 0, 0.767);
}

.navbar-container input[type="checkbox"]:checked~.menu-items::-webkit-scrollbar-track-piece:start {
  background: transparent;
}


.navbar-container input[type="checkbox"]:checked~.menu-items::before {
  content: "";
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 205px;
  width: 102%;
  background: url("/images/tray-header-large-overlay.png") no-repeat center center/cover ;

}

.navbar-container input[type="checkbox"]:checked~.menu-items li .list-icon {
  height: 10px;
  width: 10px;
  background: url("/images/li_marker.png") no-repeat center center/cover;
  display: inline-block;
  margin-right: 10px;
}

.navbar-container input[type="checkbox"]:checked~.menu-items li::after {
  content: "";
  width: 90%;
  height: 3px;
  margin-right: 5px;
  background: url("/images/slider-line.svg") no-repeat center center/cover;
  display: block;
}

.navbar-container input[type="checkbox"]:checked~.menu-items li {
  margin-bottom: 1.8rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar-container input[type="checkbox"]:checked~.menu-items li:nth-child(1) {
  margin-top: 150px;
}


.navbar-container input[type="checkbox"]:checked~.menu-items .sze {
  display: block;
}

.navbar-container input[type="checkbox"]:checked~.menu-items a {
  color: black;
}

.navbar-container input[type="checkbox"]:checked~.menu-items a:hover {
  color: rgb(114, 110, 110);
  margin-left: 10px;
}

.navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
}

.navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.headlogo{
  position: relative;
  top: 50%;
}

/* experiment */

@media (max-width: 900px) {
  .navbar a {
    color: black;
  }

  .sze {
    display: block;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    top: 20px;
    left: 20px;
    height: 28px;
    width: 35px;
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #d4d4d4;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #d3c8ac;
    height: 100vh;
    width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow-y: scroll !important;
    position: fixed;
    top: 0;
    left: 0;

  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: -17px;
    right: 15px;
    height: 130%;
  }
  .headlogo{
    top: 10px;
  }
  .navbar-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
    overflow: scroll !important;
  }
}

@media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked~.logo {
    display: none;
  }
}

.overflow-hidden {
  overflow-y: hidden !important;
}