body {
    background-color: rgb(0, 35, 35);
    z-index: -1;
}

.name img {
    width: 105px;
    height: 105px;
    border-radius: 54px;
    position: absolute;
    left: 140px;
    top: 180px;
}

.name p {
    color: rgb(240, 240, 147);
    position: absolute;
    left: 280px;
    top: 190px;
    font-size: 44px;
    font-family: 'Caveat', cursive;
    font-family: 'satisfy', cursive;
}

.button {
    position: absolute;
    top: 360px;
    right: 35px;
    width: 90%;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: rgb(242, 248, 221);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-family: 'satisfy', cursive;
}

div.scrollmenu a:hover {
    background-color: #777;
}

#first {
    border-right: 2px solid rgb(172, 172, 172);
    border-bottom: 2px solid rgb(172, 172, 172);
    border-top: 2px solid rgb(172, 172, 172);
    border-radius: 70%/70px 270px 0 0;
    width: 88px;
}

.new {
    border-right: 2px solid rgb(172, 172, 172);
    border-bottom: 2px solid rgb(172, 172, 172);
    border-top: 2px solid rgb(172, 172, 172);
    border-radius: 70%/170px 270px 0 0;
    width: 78px;
}

#last {
    border-left: 2px solid rgb(172, 172, 172);
    border-bottom: 2px solid rgb(172, 172, 172);
    border-top: 2px solid rgb(172, 172, 172);
    border-radius: 70%/70px 270px 0 0;
    width: 88px;
}

.box p {
    color: rgb(242, 248, 221);
    font-family: 'Caveat', cursive;
    font-family: 'satisfy', cursive;
    border: 2px solid salmon;
    width: 30%;
    height: 30%;
    position: absolute;
    right: 90px;
    top: 130px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:814px) {
    .box p {
        position: absolute;
        top: 500px;
        right: 250px;
        left: 200px;
        font-size: 13px;
    }

    .scrollmenu {
        position: absolute;
        top: 350px;
        left: 100px;
    }
}

@media(max-width:540px) {
    .box p {
        width: 45%;
        position: absolute;
        top: 500px;
        right: 280px;
        font-size: 13px;
    }

    .scrollmenu {
        position: absolute;
        top: 350px;
        left: 100px;
    }
}

@media(max-width:484px) {
    .name img {
        width: 105px;
        height: 105px;
        border-radius: 54px;
        position: absolute;
        left: 200px;
        top: 150px;
    }

    .name p {
        position: absolute;
        top: 250px;
        left: 200px;
    }

    .box p {
        width: 45%;
        height: 30%;
        position: absolute;
        top: 500px;
        left: 150px;
        font-size: 13px;
    }

    .scrollmenu {
        position: absolute;
        top: 380px;
        left: 80px;
        width: 80%;
    }
}

@media(max-width:410px) {
    .name img {
        width: 105px;
        height: 105px;
        border-radius: 54px;
        position: absolute;
        left: 150px;
        top: 150px;
    }

    .name p {
        position: absolute;
        top: 250px;
        left: 150px;
    }

    .box p {
        width: 45%;
        height: 30%;
        position: absolute;
        top: 500px;
        left: 100px;
        font-size: 13px;
    }

    .scrollmenu {
        position: absolute;
        top: 380px;
        left: 40px;
        width: 80%;
    }
}

@media(max-width:328px) {
    .name img {
        width: 105px;
        height: 105px;
        border-radius: 54px;
        position: absolute;
        left: 100px;
        top: 150px;
    }

    .name p {
        position: absolute;
        top: 250px;
        left: 100px;
    }

    .box p {
        width: 65%;
        height: 30%;
        position: absolute;
        top: 500px;
        left: 60px;
        font-size: 13px;
    }

    .scrollmenu {
        position: absolute;
        top: 380px;
        left: 40px;
        width: 80%;
    }
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #ebe069;
    margin: auto;
    padding: 20px;
    border: 3px solid #075a4c;
    border-radius: 23px;
    width: 80%;
    height: 30%;
    position: absolute;
    top: 400px;
    left: 25px;
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}