body {
    /* background-color: rgb(0, 35, 35);
     */

    background: url("/images/footer_bg.jpg") rgba(0, 0, 0, 0.568);
    /* background-color: #081a1e; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;


    z-index: -1;
}

.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
    color: white;
    height: 100vh;
}

.image-wrapper {
    padding: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.562);
    height: 100%
}

.user-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.btn-wrapper::before,
.btn-wrapper::after {
    display: block;
    content: "";
    position: relative;
    height: 5px;
    width: 100%;
    margin-left: 5px;
    background: url("https://athwsue2-prd-webscript-cdn-endpoint.azureedge.net/8eb442907ff8d4d67a06418bfee0e94c/assets/linkbar/linkbar-separator.svg") no-repeat center center/cover;
}


button {
    padding: 0px 20px 20px 15px;
    background: transparent;
    border: none;
    color: aliceblue;
    text-align: center;
    white-space: nowrap;
    transition: all 1s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.603);
}

.btn-between::after {
    content: "";
    position: absolute;
    height: 50px;
    display: inline-block;
    width: 3px;
    white-space: nowrap !important;
    overflow: visible !important;
    margin-left: 20px;
    background: url("https://athwsue2-prd-webscript-cdn-endpoint.azureedge.net/8eb442907ff8d4d67a06418bfee0e94c/assets/linkbar/linkbar-vertical-separator.svg") no-repeat center center/cover;
}

.btn-wrapper {
    position: relative;
    flex-wrap: nowrap;
    width: auto;
    display: block;
    overflow-x: visible;
}

#user-img {
    height: 100px;
    width: 100px;
    background: transparent;
}

img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.info-wrapper {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content-info {
    width: 100%;
    height: 80%;
    background-color: #02020285;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    clip-path: url("#tiered-features-background-2");
}

.footer {
    background-color: black;
    height: 50px;
    width: 100%;
    color: white;
    text-align: center;
}



.contactedit {
    display: flex;
    width: 100%;
    text-align: center;
    /* float:right; */
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.contactedit h1 {
    color: white;
    font-family: 'Windlass';
}

.contactedit .h1editleft {
    margin: 0px 10px;
    width: 20%;
    height: 5px;
    background: url("/images/left-line.f42a3f96.svg")
}

.contactedit .h1editright {
    margin: 0px 10px;
    width: 20%;
    height: 5px;
    background: url("/images/right-line.6f467162.svg")
}

/* @media only screen and (max-width:1000px) {
    .info-wrapper {
        width: 60%;
    }
} */


a {
    text-decoration: none;
    color: white;
}

.user-teams {
    margin-right: 200px;
}

.user-teams li {
    padding: 10px;
}


@media only screen and (max-width:900px) {
    .image-wrapper {
        width: 100vw;
    }

    .info-wrapper {
        width: 100vw;
    }
}