<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exodia-About</title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <!-- importing navbar from the partials -->
    <div id="navbar">
        <%- include('partials/navbar.ejs') %>
    </div>
    <!-- About us section  -->
    <section id="Aboutsection">
        <div id="about-heading">
            <h2>About us</h2>
        </div>
        <div id="Aboutsection-content">
            <div id="para">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam possimus explicabo labore repudiandae,
                    ipsa fuga. Voluptates beatae voluptatibus accusamus expedita corrupti nam harum cumque rerum id sit
                    velit corporis adipisci molestiae soluta a iusto nemo temporibus non, qui nostrum fugiat
                    perspiciatis
                </p>
            </div>
            <div id="yt-video">
                <iframe id="video-link" src="https://www.youtube.com/embed/66xHwne0EpU" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>

    </section>
</body>

</html>