<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exodia</title>

    <link rel="stylesheet" href="/css/brochure.css">
    <link rel="stylesheet" href="/css/navbar.css">

    <link rel="icon" type="image/x-icon" href="/images/exodia_logo.png">
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <div class="wrapper">

            <div class="broch">
                <span class="heading-tag"></span> <span class="heading">Brochure : </span> <a
                    href="https://drive.google.com/file/d/1_1_kO7YqxkDN53s5lSQg9R3Cs7R216uL/view?usp=sharing"
                    target="_blank">Exodia-Brochure</a>
            </div>
            <div class="fee">
                <span class="heading-tag"></span>
                <span class="heading">Fees-Structure : </span> <a
                    href="https://drive.google.com/file/d/1_C3JaszBd9nFmMxMBscc_ViE6-6P_UvC/view?usp=sharing"
                    target="_blank">Exodia-Fees</a>
            </div>
            <div class="rulebooks">
                <span class="heading-tag"></span>
                <span class="heading">Rulebooks : </span> <a
                    href="https://drive.google.com/drive/folders/1NOR8cb6ZQe4TigY1tNXRRUKrfL8DtuMD"
                    target="_blank">Exodia-Rulebooks</a>
            </div>

        </div>

        <footer>
            Exodia-23
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
            integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="/js/navbar.js"></script>
</body>

</html>