<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exodia | developers </title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/developers.css">
</head>

<body>
    <%- include('partials/clip_path_svgs.ejs') %>
    <!-- importing navbar from the partials -->
    <%- include('partials/navbar.ejs') %>
    <div class="space">
    </div>
    <div class="heads">
        <div class="images" >
            <div class="iii">
            <svg width="100%" height="100%" preserveAspectRatio="none"
                aria-hidden="true" role="presentation"
                viewBox="0 0 587.61 331.46" id="im1">
                <rect width="100%" height="100%" class="placeholder"
                    clip-path="url(#article-panel)">
                </rect>
                <g class="cliped-image">
                    <image preserveAspectRatio="none" width="100%" height="100%"
                        clip-path="url(#article-panel)" id="i1"
                        xlink:href="/images/ankit.jpg">
                    </image>
                </g>
            </svg>
            <div class="head-details1">
                <h3>
                    Ankit Gurjar
                </h3>
                <p>
                    b21328@students.iitmandi.ac.in
                    <br>
                    78910 35024
                </p>
                
            </div>
        </div>
        <div class="iii">
            <svg width="100%" height="100%" preserveAspectRatio="none"
                aria-hidden="true" role="presentation"
                viewBox="0 0 587.61 331.46" id="im2">
                <rect width="100%" height="100%" class="placeholder"
                    clip-path="url(#article-panel)">
                </rect>
                <g class="cliped-image">
                    <image preserveAspectRatio="none" width="100%" height="100%"
                        clip-path="url(#article-panel)"
                        xlink:href="/images/sandeep.jpeg">
                    </image>
                </g>
            </svg>
            <div class="head-details1">
                <h3>
                    Sandeep Singh
                </h3>
                <p>
                    b21082@students.iitmandi.ac.in
                    <br>
                    82875 92269
                </p>
                
            </div>
        </div>
        <div class="iii">
            <svg width="100%" height="100%" preserveAspectRatio="none"
                aria-hidden="true" role="presentation"
                viewBox="0 0 587.61 331.46" id="im3">
                <rect width="100%" height="100%" class="placeholder"
                    clip-path="url(#article-panel)">
                </rect>
                <g class="cliped-image">
                    <image preserveAspectRatio="none" width="100%" height="100%"
                        clip-path="url(#article-panel)"
                        xlink:href="/images/priyanka.jpeg">
                    </image>
                </g>
            </svg>
            <div class="head-details1">
                <h3>
                    Priyanka
                </h3>
                <p>
                    b21212@students.iitmandi.ac.in
                    <br>
                    79889 06597
                </p>
                
            </div>
        </div>
        <div class="iii">
            <svg width="100%" height="100%" preserveAspectRatio="none"
                aria-hidden="true" role="presentation"
                viewBox="0 0 587.61 331.46" id="im4">
                <rect width="100%" height="100%" class="placeholder"
                    clip-path="url(#article-panel)">
                </rect>
                <g class="cliped-image">
                    <image preserveAspectRatio="none" width="100%" height="100%"
                        clip-path="url(#article-panel)"
                        xlink:href="/images/aditya.jpeg">
                    </image>
                </g>
            </svg>
            <div class="head-details1">
                <h3>
                    Aditya Ruhela
                </h3>
                <p>
                    b21082@students.iitmandi.ac.in
                    <br>
                    95199 53884
                </p>
                
            </div>
        </div>
        </div>
    </div>
    <div class="space1">
    </div>
    <div class="footer">
        
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="#">Scanfcode</a>.
            </p>
    </div>
</body>