<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exodia | Developers </title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/developers.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/scrollbar.css">
    <link rel="icon" type="image/x-icon" href="/images/exodia_logo.png">
</head>

<body>
    <%- include('partials/clip_path_svgs.ejs') %>
        <!-- importing navbar from the partials -->
        <%- include('partials/navbar.ejs') %>
            <div class="space">
            </div>
            <div class="heads">
                <div class="images">
                    <div class="iii">
                        <svg width="80%" height="80%" preserveAspectRatio="none" aria-hidden="true" role="presentation"
                            viewBox="0 0 587.61 331.46" id="im1">
                            <rect width="100%" height="100%" class="placeholder" clip-path="url(#article-panel)">
                            </rect>
                            <g class="cliped-image">
                                <image data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="500"
                                    preserveAspectRatio="none" width="100%" height="100%"
                                    clip-path="url(#article-panel)" id="i1" xlink:href="/images/Ankit.jpeg">
                                </image>
                            </g>
                        </svg>
                        <div class="head-details1">
                            <h3>
                                Ankit Gurjar
                            </h3>
                            <p>
                                b21328@students.iitmandi.ac.in
                                <br>
                                78910 35024
                            </p>

                        </div>

                    </div>
                    <div class="iii">
                        <svg width="80%" height="80%" preserveAspectRatio="none" aria-hidden="true" role="presentation"
                            viewBox="0 0 587.61 331.46" id="im2">
                            <rect width="100%" height="100%" class="placeholder" clip-path="url(#article-panel)">
                            </rect>
                            <g class="cliped-image">
                                <image data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="500"
                                    preserveAspectRatio="none" width="100%" height="100%"
                                    clip-path="url(#article-panel)" xlink:href="/images/sandeep.jpeg">
                                </image>
                            </g>
                        </svg>
                        <div class="head-details1">
                            <h3>
                                Sandeep Singh
                            </h3>
                            <p>
                                b21082@students.iitmandi.ac.in
                                <br>
                                82875 92269
                            </p>

                        </div>
                    </div>
                    <div class="iii">
                        <svg width="80%" height="80%" preserveAspectRatio="none" aria-hidden="true" role="presentation"
                            viewBox="0 0 587.61 331.46" id="im3">
                            <rect width="100%" height="100%" class="placeholder" clip-path="url(#article-panel)">
                            </rect>
                            <g class="cliped-image">
                                <image data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="500"
                                    preserveAspectRatio="none" width="100%" height="100%"
                                    clip-path="url(#article-panel)" xlink:href="/images/priyanka.jpeg">
                                </image>
                            </g>
                        </svg>
                        <div class="head-details1">
                            <h3>
                                Priyanka
                            </h3>
                            <p>
                                b21212@students.iitmandi.ac.in
                                <br>
                                79889 06597
                            </p>

                        </div>
                    </div>
                    <div class="iii">
                        <svg width="80%" height="80%" preserveAspectRatio="none" aria-hidden="true" role="presentation"
                            viewBox="0 0 587.61 331.46" id="im4">
                            <rect width="100%" height="100%" class="placeholder" clip-path="url(#article-panel)">
                            </rect>
                            <g class="cliped-image">
                                <image data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="500"
                                    preserveAspectRatio="none" width="100%" height="100%"
                                    clip-path="url(#article-panel)" xlink:href="/images/aditya.jpeg">
                                </image>
                            </g>
                        </svg>
                        <div class="head-details1">
                            <h3>
                                Aditya Ruhela
                            </h3>
                            <p>
                                b21082@students.iitmandi.ac.in
                                <br>
                                95199 53884
                            </p>

                        </div>
                    </div>

                    <div class="iii">
                        <svg width="80%" height="80%" preserveAspectRatio="none" aria-hidden="true" role="presentation"
                            viewBox="0 0 587.61 331.46" id="im4">
                            <rect width="100%" height="100%" class="placeholder" clip-path="url(#article-panel)">
                            </rect>
                            <g class="cliped-image">
                                <image data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="500"
                                    preserveAspectRatio="none" width="100%" height="100%"
                                    clip-path="url(#article-panel)" xlink:href="/images/lakshay.jpeg">
                                </image>
                            </g>
                        </svg>
                        <div class="head-details1">
                            <h3>
                                Lakshay Nailwal
                            </h3>
                            <p>
                                b21303@students.iitmandi.ac.in
                                <br>
                                +91 78381 31836
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="space1" data-aos="fade-left" data-aos-delay="300">
                <h2>Special Mentions</h2>

                <ul class="special-mentions">
                    <li>
                        <a href="">Sea of Theives : for their amazing assets.</a>
                    </li>
                    <li>
                        Arpit Singh : Helped in making assets.
                    </li>

                    <li>
                        Khushi Baghel : Helped in making assets.
                    </li>
                    <li>
                        JOJO GOJO: For providing and reviewing ideas.
                    </li>
                    <li>

                    </li>

                </ul>

            </div>
            <div class="footer">

                <p class="copyright-text">DEVELOPERS - EXODIA
                </p>
            </div>

            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

            <script>
                AOS.init();
            </script>
            <script src="/js/navbar.js"></script>
</body>