<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exodia | Events</title>

    <!-- cdn for css of bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/events.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!-- importing navbar from the partials -->
    <%- include('partials/navbar.ejs') %>
        <img src="http://static.tumblr.com/46cb5b1d63cf84148220815beac16919/sqjwi15/uQCn06vx6/tumblr_static_tumblr_mmff7iuxxv1qhd8sao1_500.gif"
            class="hidden" id="pokemon">



        <!-- image crousel  -->


        <div class="css-slider-wrapper">
            <input type="radio" name="slider" class="slide-radio1" checked id="slider_1">
            <input type="radio" name="slider" class="slide-radio2" id="slider_2">
            <input type="radio" name="slider" class="slide-radio3" id="slider_3">
            <input type="radio" name="slider" class="slide-radio4" id="slider_4">


            <div class="slider-pagination">

                <label for="slider_1" class="page1"></label>
                <label for="slider_2" class="page2"></label>
                <label for="slider_3" class="page3"></label>
                <label for="slider_4" class="page4"></label>
            </div>

            <div class="next control">
                <label for="slider_1" class="numb1"><img class="right-left right" src="/images/piratenext.png"></label>
                <label for="slider_2" class="numb2"><img class="right-left right" src="/images/piratenext.png"></label>
                <label for="slider_3" class="numb3"><img class="right-left right" src="/images/piratenext.png"></label>
                <label for="slider_4" class="numb4"><img class="right-left right" src="/images/piratenext.png"></label>
            </div>
            <div class="previous control">
                <label for="slider_1" class="numb1"><img class="right-left" src="/images/piratenext.png"></label>
                <label for="slider_2" class="numb2"><img class="right-left" src="/images/piratenext.png"></label>
                <label for="slider_3" class="numb3"><img class="right-left" src="/images/piratenext.png"></label>
                <label for="slider_4" class="numb4"><img class="right-left" src="/images/piratenext.png"></label>
            </div>


            <div class="slider slide1">
                <!-- <button id="summonPokemon">Change pokemon!</div> -->


                <div>
                    <h2>Css Based slider</h2>
                    <a href="#" class="button">Download</a>
                </div>
            </div>
            <div class="slider slide2">
                <div>
                    <h2>CSS Slider without use of any javascript or jQuery</h2>
                    <a href="#" class="button">Download</a>
                </div>
            </div>
            <div class="slider slide3">
                <div>
                    <h2>Full screen animation slider</h2>
                    <a href="#" class="button">Download</a>
                </div>
            </div>
            <div class="slider slide4">
                <div>
                    <h2>css3 slider</h2>
                    <a href="#" class="button">Download</a>
                </div>
            </div>
        </div>
        <!-- CDN for js of bootstrap -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                    crossorigin="anonymous"></script> -->

        <!-- </section> -->

        <!-- CDN for js of bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
            </script>

        <!-- jQuery  -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

        <!-- // adding cloud animation  -->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            $.fn.center = function () {
                this.css("position", "absolute");
                this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + $(window)
                    .scrollTop()) + "px");
                this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + $(window)
                    .scrollLeft()) + "px");
                return this;
            }

            $(".right-left").on("click", function () {
                $("#pokemon").fadeIn().center();
                setTimeout(function () {
                    $("#pokemon").fadeOut()
                }, 1000);
            });
        </script>
</body>

</html>