<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exodia-23</title>

    <!-- cdn for css of bootstrap and icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <!-- adding icon library  -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <section id="homesection">

        <!-- adding vide  -->
        <div id="video-bg">
            <video autoplay loop muted>
                <source src="../images/ship1.mp4" type="video/mp4">
            </video>
        </div>

        <!-- importing navbar from the partials -->
        <div id="navbar">
            <%- include('partials/navbar.ejs') %>
        </div>
        <div id="content">
            <div id="exodia-title">
                <h1 style="color:red">Exodia-23</h1>
            </div>

            <!-- counter for the website  -->
            <div id="countdown-timer">
                <div id="countdown"></div>
            </div>


        </div>

        <!-- javascript code for the counter  -->
        <script>
            // Set the date and time for the countdown
            var countDownDate = new Date("May 5 , 2023 12:00:00").getTime();

            // Update the countdown every second
            var countdown = setInterval(function () {

                // Get the current date and time
                var now = new Date().getTime();

                // Calculate the distance between now and the countdown date
                var distance = countDownDate - now;

                // Calculate the days, hours, minutes, and seconds remaining
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Display the countdown in the "countdown" element
                document.getElementById("countdown").innerHTML = days + "&nbsp;days&nbsp;&nbsp;" + hours +
                    "&nbsp;hrs&nbsp;&nbsp;" +
                    minutes + "&nbsp;mins&nbsp;&nbsp;" + seconds + "&nbsp;sec&nbsp;&nbsp;";

                // If the countdown is finished, display a message
                if (distance < 0) {
                    clearInterval(countdown);
                    document.getElementById("countdown").innerHTML = "Event is live now!";
                }
            }, 1000);
        </script>
    </section>

    <!-- About us section  -->
    <section id="Aboutsection">
        <div id="about-heading">
            <h2>About us</h2>
        </div>
        <div id="Aboutsection-content">
            <div id="para">
                <p>When the sunlight crowns the mountain tops,
                    and the valley hymns to the summer songs.
                    Where creativity sets sail and hearts unfurl,
                    such is the summer treasure Exodia holds.
                    The largest college fest of the Himalayas is
                    back again to electrify the youth across the
                    nation with its exhilarating cultural extravagan￾za and revivifying literary fiesta. It is set to
                    exceed expectations and boggle minds with its
                    trifecta of art, literature and exuberance. The
                    three day long festivities are going to be an
                    epiphanic experience from events that ardor
                    art and expression to pronites embellished
                    with a symphony of effervescent.
                </p>
            </div>
            <div id="yt-video">
                <iframe id="video-link" src="https://www.youtube.com/embed/66xHwne0EpU" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>

    </section>
    <section class="counts">
        <div class="counters">
            <div class="counter-cards">
                <h3>Registrations<br><span id="Registrations">30+</span></h3>
            </div>
            <div class="counter-cards">
                <h3>Website Visitors<br><span id="count">0</span></h3>
            </div>
            <div class="counter-cards">
                <h3>Events<br><span id="Registrations">35+</span></h3>
            </div>
        </div>
    </section>
    <section class="faqs">
        <div class="faq-container">
            <h1 style="color: red;">Frequently Asked Questions</h1>
            <ul>
                <li class="faq">
                    <div class="question">
                        Which is the accomadition fee for participants?
                        <span class="icon-main">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                    </div>
                    <div class="answer non-active">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, quas repellendus? Quae
                        recusandae doloremque tempore eveniet explicabo quam, atque nemo quos dolor corporis,
                        necessitatibus tenetur excepturi voluptatibus blanditiis amet? Ipsum.
                    </div>
                </li>
                <li class="faq">
                    <div class="question">
                        What i should take participate in exodia?
                        <span class="icon-main">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                    </div>
                    <p class="answer non-active">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum,
                        repellendus iure neque quod praesentium delectus, voluptates exercitationem cum, molestias id
                        adipisci voluptas tempora laboriosam est quaerat nihil perspiciatis porro facilis aut quam
                        distinctio vitae placeat? Quam ex dolores corporis laboriosam, ratione consectetur assumenda
                        dicta vero atque.
                    </p>
                </li>
                <li class="faq">
                    <div class="question">
                        Who is cheif guest for exodia?
                        <span class="icon-main">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                    </div>
                    <p class="answer non-active">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eum omnis hic consectetur
                        quod ducimus minus dolores expedita nulla. Veniam dolorum ad deleniti suscipit, inventore
                        laudantium minus natus laborum aliquam, asperiores ea sed eaque nulla provident quam!
                        Blanditiis, fugit rem enim eius accusantium aperiam nemo aliquam debitis cumque dolore quae.
                    </p>

                </li>
                <li class="faq">
                    <div class="question">
                        Which is the accomadition fee for participants?
                        <span class="icon-main">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                    </div>
                    <div class="answer non-active">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, quas repellendus? Quae
                        recusandae doloremque tempore eveniet explicabo quam, atque nemo quos dolor corporis,
                        necessitatibus tenetur excepturi voluptatibus blanditiis amet? Ipsum.
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section id="footer-content">
        <!-- profile cards -->
        <div id="container">
            <div class="row">
                <div class="col">
                    <div class="footer-title-counter">
                        <h2><span style="color:red ">EXODIA-23</span><span style="color:white"> | IIT Mandi</span></h2>
                        <h3 style="color:white">Follow us :</h3>
                        <div id="footer-links">
                            <div>
                                <a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a>
                                <a href="https://www.twitter.com/" target="_blank" class="fa fa-twitter"></a>
                                <a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a>

                            </div>
                        </div>

                        <!-- website footprint  -->
                    </div>
                    <div class="col cards">
                        <ul class="cards">
                            <li>
                                <a href="" class="card">
                                    <img src="/images/pirateship.jpg" class="card__image" alt="" />
                                    <div class="card__overlay">
                                        <div class="card__header">
                                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                                <path />
                                            </svg>
                                            <img class="card__thumb" src="/images/phone.jpg" alt="" />
                                            <div class="card__header-text">
                                                <h3 class="card__title">Phone Number</h3>

                                            </div>
                                        </div>
                                        <p class="card__description">1) 1234567890</p>
                                        <p class="card__description">2) 1234567890</p>
                                        <p class="card__description">3) 1234567890</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="card">
                                    <img src="/images/card1.jpg" class="card__image" alt="" />
                                    <div class="card__overlay">
                                        <div class="card__header">
                                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                                <path />
                                            </svg>
                                            <img class="card__thumb" src="/images/email.jpg" alt="" />
                                            <div class="card__header-text">
                                                <h3 class="card__title">Mail@iitmandi.ac.in</h3>
                                            </div>
                                        </div>
                                        <p class="card__description">google@students.iitmandi.ac.in</p>
                                        <p class="card__description">google@students.iitmandi.ac.in</p>
                                        <p class="card__description">google@students.iitmandi.ac.in</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="card">
                                    <img src="/images/card2.jpg" class="card__image" alt="" />
                                    <div class="card__overlay">
                                        <div class="card__header">
                                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                                <path />
                                            </svg>
                                            <img class="card__thumb" src="/images/email.jpg" alt="" />
                                            <div class="card__header-text">
                                                <h3 class="card__title">Mail@iitmandi.ac.in</h3>
                                            </div>
                                        </div>
                                        <p class="card__description">google@students.iitmandi.ac.in</p>
                                        <p class="card__description">google@students.iitmandi.ac.in</p>
                                        <p class="card__description">google@students.iitmandi.ac.in</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </section>
    <footer id="home-footer">
        <p>
            © Copyright <b>Exodia | IIT Mandi </b>.All Rights Reserved
        </p>
    </footer>
    <!-- CDN for js of bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
        </script>
    <script type="module" src="/js/app.js"></script>
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.149/build/three.module.js",
                    "three/addons/": "https://unpkg.com/three@0.149/examples/jsm/"
            }

        }
    </script>


    <!-- javascript for the counter  -->
    <script>
        // Get the counter element
        var counter = document.getElementById("count");

        // Check if there's a count stored in local storage
        var count = localStorage.getItem("count");

        // If there's no count, set it to 0
        if (!count) {
            count = 0;
        }

        // Update the counter on the page
        counter.innerHTML = count;

        // Increment the count and update the counter
        count++;
        localStorage.setItem("count", count);
        counter.innerHTML = count
    </script>
    <!-- Javascript for FAQ'S -->
    <script>
        const faqs = document.querySelectorAll(".faq");
        for (const item of faqs) {
            const curr_faq = item.childNodes;
            const question = curr_faq[1];
            const answer = curr_faq[3];
            const icon = question.querySelector(".icon-main");
            icon.addEventListener("click", function () {
                answer.classList.toggle("non-active");
                const i = icon.querySelector("i");
                i.classList.toggle("fa-xmark");
                i.classList.toggle("fa-plus");
                console.log(i);
            });
        }
    </script>

</body>

</html>