<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exodia-23</title>

    <!-- cdn for css of bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <!-- adding icon library  -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>



    <section id="homesection">

        <!-- adding vide  -->
        <div id="video-bg">
            <video autoplay loop muted>
                <source src="../images/ship1.mp4" type="video/mp4">
            </video>
        </div>


        <!-- importing navbar from the partials -->
        <div id="navbar">
            <%- include('partials/navbar.ejs') %>

        </div>
        <div id="content">

            <div id="exodia-title">
                <h1 style="color:red">Exodia-23</h1>
            </div>

            <!-- counter for the website  -->
            <div id="countdown-timer">
                <div id="countdown"></div>

            </div>


        </div>
        <!-- javascript code for the counter  -->
        <script>
            // Set the date and time for the countdown
            var countDownDate = new Date("May 5 , 2023 12:00:00").getTime();

            // Update the countdown every second
            var countdown = setInterval(function () {

                // Get the current date and time
                var now = new Date().getTime();

                // Calculate the distance between now and the countdown date
                var distance = countDownDate - now;

                // Calculate the days, hours, minutes, and seconds remaining
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Display the countdown in the "countdown" element
                document.getElementById("countdown").innerHTML = days + "&nbsp;days&nbsp;&nbsp;" + hours +
                    "&nbsp;hrs&nbsp;&nbsp;" +
                    minutes + "&nbsp;mins&nbsp;&nbsp;" + seconds + "&nbsp;sec&nbsp;&nbsp;";

                // If the countdown is finished, display a message
                if (distance < 0) {
                    clearInterval(countdown);
                    document.getElementById("countdown").innerHTML = "Event is live now!";
                }
            }, 1000);
        </script>
    </section>

    <!-- About us section  -->
    <section id="Aboutsection">
        <div id="about-heading">
            <h2>About us</h2>
        </div>
        <div id="Aboutsection-content">
            <div id="para">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam possimus explicabo labore repudiandae,
                    ipsa fuga. Voluptates beatae voluptatibus accusamus expedita corrupti nam harum cumque rerum id sit
                    velit corporis adipisci molestiae soluta a iusto nemo temporibus non, qui nostrum fugiat perspiciatis
                    inventore fuga sapiente. Dolorum sapiente tempb</p>
            </div>
            <div id="yt-video">
            <iframe id="video-link"  src="https://www.youtube.com/embed/66xHwne0EpU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div> 

    </section>
    <!-- vide of the exodia  -->
    <!-- <section id="trailersection">
        <div id="trailer-heading">
            <h2>
                Exodia trailer
            </h2>
        </div>
        <div id="ytlink">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/WU_8wcNML3M" title="IIT MANDI OFFICIAL AFTERMOVIE EXODIA 2018" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    

    </section> -->
    <section id="footer-content">
        <!-- profile cards -->
        <div id="container">
            <div class="row">
                <div class="col">
                    <div class="footer-title-counter">
                        <h2><span style="color:red ">EXODIA-23</span><span style="color:white"> | IIT Mandi</span></h2>
                        <h3 style="color:white">Follow us :</h3>
                        <div id="footer-links">
                            <div>
                                <a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-instagram"></a>

                            </div>
                        </div>

                        <!-- website footprint  -->
                        <div id="counter">
                            <p style="color:red">Number of visitors:</p>
                            <span id="count">0</span>
                        </div>


                    </div>
                    <div class="col cards">
                        <ul class="cards">
                            <li>
                                <a href="" class="card">
                                    <img src="/images/img2.jpg" class="card__image" alt="" />
                                    <div class="card__overlay">
                                        <div class="card__header">
                                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                                <path /></svg>
                                            <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
                                            <div class="card__header-text">
                                                <h3 class="card__title">Phone Number</h3>

                                            </div>
                                        </div>
                                        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Asperiores, blanditiis?</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="card">
                                    <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" />
                                    <div class="card__overlay">
                                        <div class="card__header">
                                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                               <path />
                                            </svg>
                                            <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
                                            <div class="card__header-text">
                                                <h3 class="card__title">here is the Email id</h3>
                                            </div>
                                        </div>
                                        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Asperiores, blanditiis?</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="card">
                                    <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" />
                                    <div class="card__overlay">
                                        <div class="card__header">
                                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                                <path /></svg>
                                            <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
                                            <div class="card__header-text">
                                                <h3 class="card__title">Important Email-IDS here is the id</h3>

                                            </div>
                                        </div>
                                        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Asperiores, blanditiis?</p>
                                    </div>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
    </section>


    <footer id="home-footer">
        <p>
            © Copyright <b>Exodia | IIT Mandi </b>.All Rights Reserved
        </p>
    </footer>






    <!-- CDN for js of bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>

    <!-- javascript for the counter  -->
    <script>
        // Get the counter element
        var counter = document.getElementById("count");

        // Check if there's a count stored in local storage
        var count = localStorage.getItem("count");

        // If there's no count, set it to 0
        if (!count) {
            count = 0;
        }

        // Update the counter on the page
        counter.innerHTML = count;

        // Increment the count and update the counter
        count++;
        localStorage.setItem("count", count);
        counter.innerHTML = count
    </script>

</body>

</html>