<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/scrollbar.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sponsors.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/exodia_logo.png">

    <title>Exodia | Sponsors</title>

</head>

<body>

    <%- include('partials/clip_path_svgs.ejs') %>
        <!-- importing navbar from the partials -->
        <%- include('partials/navbar.ejs') %>

            <div class="wrapper">

                <div class="contactedit">
                    <!-- <img style="width:100px" src="/giphy.gif" alt=""> -->
                    <div class="h1editleft" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500">
                    </div>
                    <h1 id="spon-heading">
                        Sponsors
                    </h1>
                    <div class="h1editright" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500">
                    </div>
                </div>


                <div id="sponsors">

                    <% for(let i=0;i<sponsors.length;i++){ %>
                        <div class="sponsor">
                            <img class="spon-img" src="<%=sponsors[i].image%>">
                            <span class="heading-panel"></span>
                            <h2 class="spon-name">
                                <%=sponsors[i].name%>
                            </h2>
                        </div>
                        <%}%>
                </div>

            </div>

</body>

</html>